

@import '../bower_components/bootstrap/scss/bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
