

@import '../bower_components/bootstrap/scss/bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

@import './welcome.scss';

body {
  padding-top: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
